@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_partials/fonts";
@import "./_partials/variables";
@import "./_partials/responsive.scss";
@import "./_partials/responsiveClasses.scss";

//Default
a,
p,
h1,
h2,
label {
  font-family: $font-family-base;
}

body {
  padding: $spacer *2;
}

.btn {
  padding: (12 / 16) *$spacer $spacer * 2;
  background-color: $primary;
  color: white;
}

//Components
@import "./components/header.scss";
@import "./components/homepage.scss";
@import "./components/project-page.scss";
@import "./components/thumbnail.scss";
//Common